*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-image: url(./blackjack-b.g.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container h1{
    color: goldenrod;
    font-size: 100px;
    padding: 20px;
}
.container p{
    font-size: 60px;
    color: white;
    padding: 20px;
}

#message-el{
    font-style: italic;
}
/* #card-el{
    flex-wrap: wrap;
} */
.container button{
    background-color: goldenrod;
    color: #016f32;
    width: 400px;
    height: 100px;
    padding:20px;
    border: none;
    font-size: 50px;
    font-weight: bold;
    margin:5px auto;

    }

    @media screen and (max-width:956px) and (min-width:501px){
        body{
            height: 100vh;
            padding-bottom: 50px;
            justify-content: center;
        }
    }
        @media screen and (max-width:500px) and (min-width:270px){
            .container button{
                width: 300px;
                height: 100px;
                padding:20px;
                font-size: 30px;
            }
            .container h1{
                color: goldenrod;
                font-size: 70px;
                padding: 20px;
            }
            .container p{
                font-size: 40px;
                color: white;
                padding: 20px;
            }
        }